{


# TEMP desirable[°C]
  "temp_min" : 40,
  "temp_max" : 55,

# min duty to make the FAN rotate.
  "duty_min" : 30.0,

# MIN DELTA TO MAKE A UPDATE
  "hysterie" : 1,

# Temperatur CPU file
  "temp_file" : "/sys/class/thermal/thermal_zone0/temp",

# LOG CONFIG
  "log" : False,
  "log_file" : '/mnt/HDD/Documents/tempCPUxSpeedFAN.log'
}
